
spring:
 ldap:
    urls: 
    - ldap://ldap.fr:389
    username: uid=user,ou=admins,dc=univ.fr
    password: password
    base: dc=univ,dc=fr
 
springdoc:
  version: '@springdoc.version@'
  api-docs:
    groups:
      enabled: true
  swagger-ui:

    display-request-duration: true
    groups-order: ASC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
    path: /swagger-ui.html
    url: /api-docs.yaml 
     
server:
  error:
    include-exception: true
    whitelabel:
      enabled: true
    path: /error.html
    include-stacktrace: always
   
app:
  ldap:
    stringFilterTeacher: (|(eduPersonAffiliation=teacher)(eduPersonAffiliation=faculty)(uid=sample))
    stringFilterStudent: (eduPersonAffiliation=student)
    stringFilterStaff: (eduPersonAffiliation=staff)
    repoStringFilterStudent: (eduPersonAffiliation=student)
    repoStringFilterStudentBySn: (&(eduPersonAffiliation=student)(sn={0}))
    repoStringFilterStudentByUId: (&(eduPersonAffiliation=student)(uid={0}))
    repoStringFilterStudentByNumEtu: (&(eduPersonAffiliation=student)(numlEtu={0}))
    dnPeople: ou=people
    
  apogee:
    startYearMonth: 09
    startYearDay: 01
    universityCode: UPN
    codesRegimeInscriptionFC: 2;4;5
    # valeurs de temoinRecupAnnu  possible :  TOUS,  N,   O
    temoinRecupAnnu : N
    
    urlService:
      administratifMetier: http://ws.apogee.univ.fr:8080/aws/services/AdministratifMetier
      etudiantMetier: http://ws.apogee.univ.fr:8080/aws/services/EtudiantMetier
      pedagogiqueMetier: http://ws.apogee.univ.fr:8080/aws/services/PedagogiqueMetier
      geographieMetier: http://ws.apogee.univ.fr:8080/aws/services/GeographieMetier
      referentielMetier: http://ws.apogee.univ.fr:8080/aws/services/ReferentielMetier
      offreFormationMetier: http://ws.apogee.univ.fr:8080/aws/services/OffreFormationMetier
    
credential:
  userscredential:
    root:
      username: root
      password: root
      roles:
        - ADMIN
        - USER
        - USER_APOGEE
        - USER_LDAP
   autorisation:
    supann:
      - USER_LDAP
      - ADMIN
    referentiel:
      - USER_APOGEE
      - ADMIN


