
spring:
 ldap:
    urls: 
    - ldap://ldap.fr:389
    username: uid=user,ou=admins,dc=univ.fr
    password: password
    base: dc=univ,dc=fr
 
springdoc:
  version: '@springdoc.version@'
  api-docs:
    groups:
      enabled: true
  swagger-ui:

    display-request-duration: true
    groups-order: ASC
    operationsSorter: method
    disable-swagger-default-url: true
    use-root-path: true
    path: /swagger-ui.html
    url: /api-docs.yaml 
     
server:
  error:
    include-exception: true
    whitelabel:
      enabled: true
    path: /error.html
    include-stacktrace: always
   
app:
  server-url: http://localhost:8080/esup-siscol
  server-version: 0.1.15
  server-title: Client API SCOLARITE REST
  ldap:
    stringFilterTeacher: (|(eduPersonAffiliation=teacher)(eduPersonAffiliation=faculty)(uid=sample))
    stringFilterStudent: (eduPersonAffiliation=student)
    stringFilterStaff: (eduPersonAffiliation=staff)
    attributes:
                objectClass: Person
                supannAliasLogin: supannAliasLogin
                baseDn: ou=people
                dn: dn
                uid: uid
                codEtu: supannEtuId
                supannEtuId: supannEtuId
                sn: sn
                mail: mail
                supannAutreMail: supannAutreMail
                cn: cn
                givenName: givenName
                displayName: givenName
                eduPersonPrimaryAffiliation: eduPersonPrimaryAffiliation
                eduPersonAffiliation: eduPersonAffiliation
                supannEntiteAffectation: supannEntiteAffectation
                supannEntiteAffectationPrincipale: supannEntiteAffectationPrincipale
                supannCivilite: supannCivilite
                telephoneNumber: telephoneNumber
                supannEtuCursusAnnee: supannEtuCursusAnnee
                eduPersonOrgDN: eduPersonOrgDN
                supannEmpId: supannEmpId
                supannRefId: supannRefId
                supannEtuEtape: supannEtuEtape
                supannEtuAnneeInscription: supannEtuAnneeInscription
     			supannEtuInscription: supannEtuInscription
                
    
  apogee:
    startYearMonth: 09
    startYearDay: 01
    universityCode: UPN
    codesRegimeInscriptionFC: 2;4;5
    # valeurs de temoinRecupAnnu  possible :  TOUS,  N,   O
    temoinRecupAnnu : N
    
    urlService:
      administratifMetier: http://ws.apogee.univ.fr:8080/aws/services/AdministratifMetier
      etudiantMetier: http://ws.apogee.univ.fr:8080/aws/services/EtudiantMetier
      pedagogiqueMetier: http://ws.apogee.univ.fr:8080/aws/services/PedagogiqueMetier
      geographieMetier: http://ws.apogee.univ.fr:8080/aws/services/GeographieMetier
      referentielMetier: http://ws.apogee.univ.fr:8080/aws/services/ReferentielMetier
      offreFormationMetier: http://ws.apogee.univ.fr:8080/aws/services/OffreFormationMetier
  pcscol:
    codeStructure: ETAB00
    codePeriode: PER-2020
    accesstoken:
      # Url de l'API du serveur OAuth Pgase pour la rcupration de l'access-token
      casUrl: https://authn-app.bas-esup.pc-scol.fr/cas/v1/tickets
      # Username et password pour s'authentifier auprs du serveur OAuth Pgase en tant qu'applicatif MDW
      svcAcountLogin: svc-api
      svcAcountPassword: password
      # Dure en heure de conservation de l'access-token
      duration: 6
    # Code de l'tablissement dans Pgase
    etablissement: ETAB00
    # Base Url de l'API du module INS de Pgase (attention  conserver la structure de l'url d'exemple)
    api:
      # Base Url de l'API STAGE de Pgase (attention  conserver la structure de l'url d'exemple)
      stage:
        url: https://sta.pc-scol.fr/api/sta/v1
      # Base Url de l'API MOF de Pgase
      Mof:
        url: https://mof.pc-scol.fr/api/v1/mof
      # Base Url de l'API COF de Pgase
      ref:
          url: https://ref.pc-scol.fr/api/v1/ref
    # Permet de cibler un dossier par dfaut. /!\ Attention /!\ A renseigner uniquement pour une dmonstration ou en phase de test/dveloppement.
    demo:
      codeapprenant: 000000001
    # Liste des statuts des inscriptions  afficher dans la vue "Parcours" spars par des virgules
    inscription:
      statut: valide
     
    
credential:
  userscredential:
    root:
      username: root
      password: root
      roles:
        - ADMIN
        - USER
        - USER_APOGEE
        - USER_LDAP
  autorisation:
    supann:
      - USER_LDAP
      - ADMIN
    referentiel:
      - USER_APOGEE
      - ADMIN
