<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/tomcat/logs/si-scol.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/opt/tomcat/si-scol.log-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, 
				but at most 20GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level %logger{36}.%M - %message%n</pattern>
		</encoder>
	</appender>



	<appender name="EMAIL"
		class="ch.qos.logback.classic.net.SMTPAppender">

		<smtpHost>smtp.parisnanterre.fr</smtpHost>
		<to>mail@univ.fr</to>
		<!-- <to>abdel@parisnanterre.fr</to> -->
		<!-- <to>ANOTHER_EMAIL_DESTINATION</to> additional destinations are possible -->
		<from>si-scol@univ.fr</from>
		<subject>ERROR CONGES: %logger{20} - %m</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{36}.%M - %message%n</pattern>
		</layout>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
			</pattern>
		</encoder>

	</appender>

	<logger name="org.esupportail" level="debug" additivity="false">
				 <appender-ref ref="FILE"/> 
				 <appender-ref ref="STDOUT" />
		
	</logger>
	
	<logger name="org.springframework.boot" level="INFO" additivity="false">
				 <appender-ref ref="STDOUT"/> 
		
	</logger>

	<logger name="org.springframework.security" level="DEBUG"
		additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>


	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />

	</root>
</configuration>