<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/esup-siscol.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
		<fileNamePattern>${catalina.home}/logs/esup-siscol.log-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each file should be at most 100MB, keep 60 days worth of history, 
				but at most 20GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>5GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level %logger{36}.%M - %message%n</pattern>
		</encoder>
	</appender>


	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %green([%thread]) %-5level %logger{50}.%blue(%M) - %msg%n</pattern>
			<!--<pattern>%d{HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) (%logger{50}.%M) - %msg%n</pattern>-->
		</encoder>

	</appender>


	<logger name="com.fasterxml" level="debug" additivity="false">
				 <appender-ref ref="FILE"/> 
				 <appender-ref ref="STDOUT" />
	</logger>

	<logger name="javax.net" level="debug" additivity="false">
				 <appender-ref ref="FILE"/> 
				 <appender-ref ref="STDOUT" />
	</logger>


	<logger name="org.esupportail" level="debug" additivity="false">
				 <appender-ref ref="FILE"/> 
				 <appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.springframework.boot" level="INFO" additivity="false">
				 <appender-ref ref="STDOUT"/> 
		
	</logger>

	<logger name="org.springframework.security" level="debug"
		additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>


	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />

	</root>
</configuration>
